body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: white;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 240px;
  background-color: white;
  border-right: 1px solid #e0e0e0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
}

.logo {
  margin-bottom: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-item {
  color: #333;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.menu-item:hover {
  background-color: #f2f6ff;
}

.menu-item.active {
  color: #0d5ae5;
  font-weight: bold;
  background-color: #d9eaff;
  border-radius: 20px;
  padding: 6px 12px;
}

details.menu-group summary {
  list-style: none;
  cursor: pointer;
}

details.menu-group summary::-webkit-details-marker {
  display: none;
}

.arrow::after {
  content: "▼";
  font-size: 12px;
  color: #666;
  margin-left: auto;
}

details.menu-group:not([open]) .arrow::after {
  content: "►";
}

.submenu {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 5px;
}

.menu-item.sub {
  font-size: 14px;
  color: #555;
  position: relative;
  padding-left: 16px;
}

.menu-item.sub::before {
  content: '•';
  position: absolute;
  left: 0;
  top: 0;
  color: #555;
}

.menu-item.sub.active {
  color: #0d5ae5;
  font-weight: bold;
  background-color: #d9eaff;
  border-radius: 20px;
  padding: 6px 12px;
}

.menu-item.sub.active::before {
  color: #0d5ae5;
}

.main {
  flex-grow: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.top-bar {
  position: absolute;
  top: 20px;
  right: 30px;
  text-align: right;
}

.user {
  font-size: 14px;
}

.activation-card {
  background: linear-gradient(to bottom right, #007bff, #1e90ff);
  padding: 40px;
  border-radius: 60px;
  text-align: center;
  color: white;
  min-width: 500px;
}

.activation-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}

.activation-card hr {
  border: none;
  height: 4px;
  background-color: lightgray;
  margin-bottom: 20px;
}

.info-text {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.button-group {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.neutral-button {
  background-color: #f2f2f2;
  color: black;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.neutral-button:hover {
  background-color: #d9d9d9;
}

.note {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
  text-align: center;
  max-width: 600px;
}
